<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sixman Theater Page</title>
  </head>
  <body>
    {{ result }} <br />
    {% for theater in small_theater_list %}
    <li>
      소극장 제목: {{ theater.title }}
      <br />
      소극장 개관일: {{ theater.published_date }} <br />
      소극장 주인: {{ theater.theater_owner }}
    </li>
    {% endfor%}
  </body>
</html>
